@import url("https://fonts.googleapis.com/css?family=Roboto");
* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}
:root {
  --color-font: black;
  --color-white: white;
  --color-strong: #9d7171;
  --color-light: #e1d3d3;
}
body {
  font-family: "Roboto";
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}
header {
  display: grid;
  grid-template-columns: max-content auto;
}
header section {
  display: flex;
  align-content: stretch;
  align-items: center;
}
header section h1 {
  margin: 0 1.5rem;
}
header section picture {
  display: flex;
  flex-direction: row;
}
header section picture img {
  width: 100%;
}

header div {
  display: flex;
  align-content: stretch;
  align-items: center;
  justify-content: flex-end;
}
header div a {
  text-decoration: none;
  margin: 0 1rem;
  color: var(--color-font);
}
header div a:hover {
  text-decoration: underline;
}
.bg-login {
  background-color: var(--color-light);
}
.bg-button {
  background-color: var(--color-strong);
}

nav {
  background-color: var(--color-light);
}
nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}
nav ul li {
  padding: 1rem;
}
nav ul li:hover {
  background-color: var(--color-strong);
}
nav ul li a {
  text-decoration: none;
  color: var(--color-font);
}
main {
  margin-top: 1rem;
}
main table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0;
}
main table thead tr th {
  border-bottom: 1px solid var(--color-font);
}
.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}
[class*="col-"] {
  float: left;
  padding: 0.3rem;
}
.row::after {
  content: "";
  clear: both;
  display: table;
  margin: 1rem 0;
}
.button {
  cursor: pointer;
  text-decoration: none;
  background-color: var(--color-strong);
  border: 0;
  border-radius: 0.3rem;
  padding: 0.5rem;
  margin: 0.5rem 0;
  color: var(--color-white);
  font-size: 1rem;
}
